<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="5">
  <test name="Test">
    <classes>
      <class name="com.qa.AutomationExercise.page_test.Sign_Up_Page_Test_1"/>
      <class name="com.qa.AutomationExercise.page_test.Home_Page_Test_4"/>
      <class name="com.qa.AutomationExercise.page_test.Account_Created_Page_Test_3"/>
      <class name="com.qa.AutomationExercise.page_test.Registeration_page_Test_2"/>
    </classes>
  </test>
</suite>
